
$color-fondo: rgb(21, 27, 39);
$color-fondo2: black;
$color-fuente-prim: white;
$color-fuente-sec: rgb(69, 67, 67);
$fuente-principal:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$fuente-secundaria: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
