*
{
    padding: 0;
    margin: 0;
}


.arriba
{
    height: 10%;
    width: 100%;
    background-color: rgb(21, 27, 39);
    position: fixed;
    
    
}



.portada
{
    height: 100%;
    background-image: url(fondito.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    text-decoration: double;
     
         
    
}



.medio
{
    height: 100%;
    width: auto;
    background-color: rgb(40, 39, 39);
    color:white;
    
    
   
    
}


.izq
{
    background-color: rgb(21, 27, 39);
    height: 100%;
    padding-top: 5%;
    
    
}



.der
{
    background-color: rgb(21, 27, 39);
    height: 100%;
    padding-top: 5%;      
    
}

.imgizq
{
    padding-top: 8%;
}


.abajo
{
    
    height: 15%;
    
    background-color: rgb(21, 27, 39); 
    color:white;
    align-items: center;
    
    
 
}



 
.wpp
{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 3%;
    right: 3%;


}

.insta
{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 3%;
    right: 6%;


}




@media (max-width: 550px)
{
    .izq{
        width: 100%;
        height: 80%;
        
        }



    .der{
        width: 100%;
        height: 65%;
        
        }

    

    .abajo{
         width:auto;
         height: 65%;
         align-items: center;
         padding-top:50%;
    
          }    

    .insta{
         right: 12%;
         bottom: 1%;
          }
    
    .wpp{
         right: 2%;
         bottom: 1%;
        }       

   
    
}

@media (min-width: 551px) and (max-width:800px)
{
    .portada{
        height:80%;
    }
    .izq{
        width: 100%;
        height: 70%;
        
        }



    .der{
        width: 100%;
        height: 60%;
        
        }
    
    .abajo{
         width:auto;
         height: 45%;
         align-items: center;
         padding-top:35%;
         
    
          }    

    .insta{
         right: 10%;
         bottom: 1%;
          }
    
    .wpp{
         right: 2%;
         bottom: 1%;
        }  
}

