*
{
    padding: 0;
    margin: 0;
}


.arriba
{
    height: 10%;
    width: 100%;
    background-color: rgb(21, 27, 39);
    position: fixed;
        
}



.portada
{
    height: 100%;
    background-image: url(fondito.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    text-decoration: double;
             
}



.medio
{
    height: 100%;
    width: auto;
    background-color: rgb(21, 27, 39);
    color:white;
    
}


.izq
{
   
    height: 100%;
    padding-top: 5%;
    
}



.der
{
    height: 100%;
    padding-top: 5%;  
    padding-right: 10%;
    display: flex;
    justify-content: center;
       
}

.imagen
{
      
    padding-top: 8%;
    width: 90%;
    height: 100%;
    margin: 0 5 0 0px;
   

}

.nosotras
{
    
    text-align: center;
    background-color: black;
    color: rgb(46, 44, 44);
   
}


.abajo
{
    
    height: 15%;
    background-color: rgb(21, 27, 39); 
    color:white;
    align-items: center;
         
}



 
.wpp
{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 3%;
    right: 3%;

}

.insta
{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 3%;
    right: 6%;

}




@media (max-width: 550px)
{
    .medio
    {      
        height: 320%;
        
    }

    .izq{
        width: 110%;
        height: 20%;       
        padding-top: 10%;
                        
        }


    .der{
        width: auto;
        height: 80%;
        flex-direction: column;
        align-items: center;
                         
        }

    .imagen{
        height: 50%;
        padding-top: 1%;
            
    }    

    .nosotras{
        
        padding-top: 5%;
    }

    .abajo{
         width:auto;
         height: 20%;
         align-items: center;
         padding-top:8%;
    
          }    

    .insta{
         right: 12%;
         bottom: 1%;
          }
    
    .wpp{
         right: 2%;
         bottom: 1%;
        }       

   
    
}

@media (min-width: 551px) and (max-width:800px)
{
    .portada{
        height:80%;
    }
    .medio{
     
        height: 100%;
        
    }
    .izq{
        width: 100%;
        height: 55%;
       
        }


    .der{
        width: 100%;
        height: 55%;
      
        }
    
   
    .abajo{
         width:auto;
         height: 30%;
         align-items: center;
         padding-top: 10%;
         
    
          }    

    .insta{
         right: 10%;
         bottom: 1%;
          }
    
    .wpp{
         right: 2%;
         bottom: 1%;
        }  
}

